<section class="max-w-[1280px] mx-auto flex flex-col items-center justify-center  ">

  <div class=" max-w-[480px]  ">
   <div class=" mb-2">
      <h1 class="font-bold text-center text-[80px]">Todos</h1>
      <div class=" border border-red-200 px-6 py-3 text-[28px] ">
        <input type="text" [(ngModel)]="newTodo" placeholder="Что надо сделать!">
      </div>
      <div  *ngIf="newTodo?.length">
        <button (click)="addTodo()">Добавить дело</button>
      </div>
   </div>
  
   <app-list-todo 
      [todos]="todos" 
      (eventRemoveTodo)="removeTodo($event)"
      (eventToggleStatusTodo)="toggleStatusTodo($event)"
    
      [filter]="filter"
      >
    </app-list-todo>
    <div class="">
        <div>
          <span> осталось дел: {{(todos|filterTodo:'active').length}}</span>
        </div>
        <div class="flex gap-3">
          <button [ngClass]="{'active':filter===''}" (click)="setFilter('')">Все дела </button>
          <button [ngClass]="{'active':filter==='active'}" (click)="setFilter('active')">Активные </button>
          <button [ngClass]="{'active':filter==='completed'}" (click)="setFilter('completed')">Сделанные </button>
        </div>
    </div>
  </div>
</section>